[submodule "tools/batcolors"]
	path = tools/batcolors
	url = https://github.com/VonC/batcolors
	branch = legacy
[submodule "tools/dev_workflow"]
	path = tools/dev_workflow
	url = https://github.com/VonC/senv_dev_workflow
	branch = main
